<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="stateBean" class="com.spring.di.demo.domain.State">
		<property name="stateName" value="Illinois"/>
		<property name="cityName" ref="cityBean"/>
	</bean>
	
	<bean id="cityBean" class="com.spring.di.demo.domain.City">
		<property name="cityName" value="Chicago"/>
	</bean>
	
	</beans>